body, h1, div, span, p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    overflow-x: hidden;
    background-image: url('/Assets/Icons/TransactionBackground.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

    .dashboard-header h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }



.total-assets {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    border-radius: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

    .total-assets span,
    .total-assets .amount {
        margin-right: 10px;
    }

.amount {
    font-size: 1.5em;
    margin-top: 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.tab {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5em;
    position: relative; 
}

    .tab::after {
        content: ''; 
        position: absolute;
        left: 0;
        bottom: -3px; 
        width: 100%;
        height: 4px; 
        background-color: transparent; 
        transition: background-color 0.3s ease;
    }

    .tab:hover::after {
        background-color: #92ACD3;
    }


.crypto-list.active {
    display: block;
    margin-top: 20px;
}

.Crypto {

    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: auto;
    max-width: 800px;
}

    .logo img,
    .Crypto img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 15px;
    }

.CryptoIdentification {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.CryptoAbbreviation {
    font-size: 1.5em;
    font-weight: bold;
}

.CryptoIdentification p {
    color: #ddd;
}

.CryptoRight {
    margin-left: auto;
    font-size: 1.2em;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    background-color: #151515;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.tabs .tab {
}

    .tabs .tab.active {
        background-color: #555;
    }

.crypto-list {
    display: none;
}

    .crypto-list.active {
        display: block;
    }


.dashboard-container::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0.2);
}


.dashboard-container::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}


.dashboard-container::-webkit-scrollbar-corner {
    background-color: black;
}

.add-transaction-btn {
    background-color: #556272;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none;
}

    .add-transaction-btn:hover {
        background-color: #627d89;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .add-transaction-btn:active {
        background-color: #4b6571;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

.logout-button {
    text-align: right;
    margin-bottom: 20px;
}

.logout-btn {
    background-color: #FF6B6B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .logout-btn:hover {
        background-color: #FF4F4F;
    }
