body, h1, div {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #151515;
    color: white
   
}

.Crypto {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 800px;
}
.CryptoIdentification {
    display: flex;
    flex-direction: column;
}
.CryptoAbbreviation {
    font-size: 25px;
}
.CryptoIdentification p {
    margin: 0px 15px;
    color: #FFFFFF;
}
.CryptoRight {
    margin-left: auto;
}
.CryptoRight p {
    margin-right: 10px;
    color: #FFFFFF;
}
.Cryptos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Cryptos img {
    width: 75px;
    height: 75px;
}
.TransactionButton {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #92ACD3;
}

.dashboard-header {
    
    color: white;
    padding: 20px;
    text-align: center;
}

.total-assets {
    background: #3D4243;
    border: 2px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

    .total-assets .amount {
        background: #3D4243;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
    }

.coin-price .logo img {
    width: 50px;
    height: 50px;
}
.coin-price {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 15px; /* Add margin between coin-price elements */
    padding: 10px; /* Add padding to provide spacing around the content */
}

    .coin-price .logo {
        margin-right: 10px; /* Adjust spacing between logo and text */
        flex-shrink: 0; /* Prevent logo from shrinking */
    }

    .coin-price h1 {
        margin: 0; /* Reset default margins for the h1 element */
    }

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    margin: 0 75px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.crypto-list {
    display: none;
    margin-top: 20px;
    padding: 20px;
}

.crypto-list.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}
