body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark text color */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.transaction-form {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}

    .transaction-form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333; /* Dark text color */
    }

.form-group {
    margin-bottom: 15px;
}

.transaction-form label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Label color */
}

.input-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;
    background-color: #f9f9f9; /* Light grey background */
    color: #333; /* Dark text color */
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.buy-btn,
.sell-btn,
back-btn {
    width: calc(50% - 5px); /* Adjusting button width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.sell-btn {
    background-color: #f44336; /* Red */
    color: white;
}

back-btn {
    background-color: #808080; /* Red */
    color: white;
}
