body {
    font-family: Arial, sans-serif;
    background-image: url('/Assets/Icons/TransactionBackground.gif'); 
    background-repeat: no-repeat;
    background-size: cover; 
    color: #333; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.transaction-form {
    background-color: #151515;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .transaction-form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: white; 
    }

.form-group {
    margin-bottom: 15px;
}

.transaction-form label {
    display: block;
    margin-bottom: 5px;
    color: white; 
}

.input-control,
.buy-btn,
.sell-btn,
.back-btn {
    box-sizing: border-box; 
    width: calc(100% - 20px); 
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.buy-btn,
.sell-btn,
.back-btn {
    flex-basis: calc(33.33% - 5px); 
}

.input-control {
    margin-bottom: 10px; 
}



.buy-btn {
    background-color: #4CAF50; 
    color: white;
}

.sell-btn {
    background-color: #f44336; 
    color: white;
}

.back-btn {
    background-color: #808080;
    color: white;
}

